html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
.content{
  padding: 80px 0px 0px;
}
button, button:focus, a, a:hover, a:focus, input, input:active, input:focus, textarea, textarea:active, textarea:focus{
  outline: none !important;
}
/* About me styles start */
.about-me-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 40px;
}
.row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
.image{
  max-width: 200px;
  z-index: 5;
  margin-left: 40px;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}
.image img{
  max-width: 200px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #dedede;
  background: #fff;
  padding: 7px;
  box-shadow: 0 7px 10px #999;
}
.intro-text{
  color:#333;
  overflow: none;
  width: calc(100%-300px);
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 30px;
}
.intro-name{
  margin-top: 0;
  margin-bottom: 0;
  font-size:24px;
  font-weight: 700;
  text-transform: capitalize;
}
.heading-line{
  border-top: 2px solid black;
  width: 270px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.heading-line-small{
  border-top: 2px solid black;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 0;
  padding-left: 10px;
}
.intro-summary{
  font-size: 16px;
  color: #555;
  margin-top: 0;
  margin-bottom: 0;
}
.intro-description{
  color: #777;
  font-weight:400;
  font-size:16px;
}
.about-contact{
  max-width: 200px;
  z-index: 5;
  margin-left: 40px;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}
.main-heading{
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 auto;
  font-weight: 700;
  color: #333;
  text-align: center;
  padding-left: 20px;
}
.personal-wrapper{
  display: webkit-box;
  display: ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  visibility: visible;
  box-sizing: border-box;
  padding-left: 10px;
}
.personal-wrapper span{
  margin: 5px 0 10px;
  color: #555;
}
.personal-wrapper strong{
  display: block;
  color: #333;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;
}
.personal-wrapper a{
  text-decoration: none;
  color: #000;
}
.top-gap{
  padding-top:10px
}
@media screen and (max-width: 1020px){
  .about-contact{margin-top: -60px;}
}
@media screen and (max-width: 950px){
  .about-contact{margin-top: -80px;}
}
@media screen and (max-width: 900px){
  .about-contact{margin-top: -120px;}
}
@media screen and (max-width: 885px){
  .about-contact{margin-top: -170px;}
}
@media screen and (max-width: 850px) {
  .row{display: initial; margin:0;text-align: center;}
  .image{margin:0 0 0 0;}
  .heading-line{margin-left: 50%;top:50%;transform: translate(-50%,-50%);}
  .intro-text{padding:0 0 0 0;margin-top: 20px;margin-left: 10px;margin-right: 10px;margin-bottom: 10px;}
  .row div{display: inline-block;}
  .about-contact{margin:0 0 0 0;}
  .top-gap{padding-top:0;}
  .main-heading{padding-left:0;}
  .heading-line-small{padding-left:0;}
  .personal-wrapper{padding-left:0;}
}
/* accordion styles start */
.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
  border: 1px solid black;
}

 .accordion:hover {
  background-color: #ccc;
  color: black;
}
.accordion.active{
  background-color: black;
  color:white;
}
.panel {
  padding: 0 18px;
  background-color: #f4f4f4;
  color: #555;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.accordion.active::after{
  content: "\2212";
  font-weight: bolder;
  color: white;
  background-color: black;
}
.accordion::after{
  content: '\002B';
  color: black;
  font-weight: bolder;
  float: right;
  margin-left: 5px;
}
.intro-text button{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
/* accordion styles end */
/* About me styles end */

/* skills styles start */
.skills-wrapper{
  background-color: rgba(255,255,255,0.75);
  position: relative;
  padding-bottom: 60px;
}
.skills-container{
  padding-top: 80px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.background{
  background-image: url('images/noise.png');
  opacity: 70%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.skills-heading p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.skills-heading h1{
  margin-top: 0px;
  margin-bottom: 0px;
}
.skills-heading hr{
  margin-left:auto;
  margin-right: auto;
  border: 2px solid white;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 200px;
}
.skill-label{
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
#codeconSkills {
   font-size: 20px;
   height: auto;
   width: 75vw;
   margin: auto;
}
.codeconSkillbar {
   height: 50px;
   width: 75vw;
   position: relative;
   background: rgba(17, 17, 17, .3);
   padding-bottom: 2px;
}
.codeconSkillArea img{float:right;}
/*individual bar styles C++*/
.codeconCpp {
    width: calc(0.9*75vw);
    animation: Animate-Cpp 4s;
    -webkit-animation: Animate-Cpp 4s;
    -moz-animation: Animate-Cpp 4s;
    -o-animation: Animate-Cpp 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-Cpp {
    from {
    width: 10px;
}
to {
    width: calc(0.9*75vw);}
}@-webkit-keyframes Animate-Cpp {
    from {
    width: 10px;
}
to {
    width: calc(0.9*75vw);}
}@-moz-keyframes Animate-Cpp {
    from {
    width: 10px;
}
to {
    width: calc(0.9*75vw);}
}@-o-keyframes Animate-Cpp {
    from {
    width: 10px;
}
to {
    width: calc(0.9*75vw);}
}
/*individual bar styles Python*/
.codeconPy {
    width: calc(0.75*75vw);
    animation: Animate-Py 4s;
    -webkit-animation: Animate-Py 4s;
    -moz-animation: Animate-Py 4s;
    -o-animation: Animate-Py 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-Py {
    from {
    width: 10px;
}
to {
    width: calc(0.75*75vw);}
}@-webkit-keyframes Animate-Py {
    from {
    width: 10px;
}
to {
    width: calc(0.75*75vw);}
}@-moz-keyframes Animate-Py {
    from {
    width: 10px;
}
to {
    width: calc(0.75*75vw);}
}@-o-keyframes Animate-Py {
    from {
    width: 10px;
}
to {
    width: calc(0.75*75vw);}
}
/*individual bar styles HTML*/
.codeconHTML {
    width: calc(0.8*75vw);
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: calc(0.8*75vw);}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: calc(0.8*75vw);}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 75vw}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: calc(0.8*75vw);}
}
/*individual bar styles JavaScript*/
.codeconJS {
    width: calc(0.60*75vw);
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: calc(0.60*75vw);}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: calc(0.60*75vw);}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: calc(0.60*75vw);}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: calc(0.60*75vw);}
}
/*individual bar styles CSS*/
.codeconCSS {
    width: calc(0.68*75vw);;
    animation: Animate-CSS 4s;
    -webkit-animation: Animate-CSS 4s;
    -moz-animation: Animate-CSS 4s;
    -o-animation: Animate-CSS 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: calc(0.68*75vw);}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: calc(0.68*75vw);}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: calc(0.68*75vw);}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: calc(0.68*75vw);}
}
/*individual bar styles Mailchimp*/
.codeconMailchimp {
    width: calc(0.90*75vw);
    animation: Animate-Mailchimp 4s;
    -webkit-animation: Animate-Mailchimp 4s;
    -moz-animation: Animate-Mailchimp 4s;
    -o-animation: Animate-Mailchimp 4s;
    height: 50px;
    position: absolute;
    background-color: black;
}
@keyframes Animate-Mailchimp {
    from {
    width: 10px;
}
to {
    width: calc(0.90*75vw);}
}@-webkit-keyframes Animate-Mailchimp {
    from {
    width: 10px;
}
to {
    width: calc(0.90*75vw);}
}@-moz-keyframes Animate-Mailchimp {
    from {
    width: 10px;
}
to {
    width: calc(0.90*75vw);}
}@-o-keyframes Animate-Mailchimp {
    from {
    width: 10px;
}
to {
    width: calc(0.90*75vw);}
}

/*other skills styles */
.skills-heading-small{
  margin-top: 30px;
  margin-bottom: 40px;
}
.skills-heading-small p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.skills-heading-small h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
}
.skills-heading-small hr{
  margin-left:auto;
  margin-right: auto;
  border: 1px solid white;
  margin-top: 4px;
  margin-bottom: 40px;
  width: 150px;
}
.other-skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -3px;
}
.otherSkill{
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.20);
  margin-right: 2px;
}
.otherSkill img{
  width: calc(75vw/4);
}
@media screen and (max-width: 900px){
  .other-skills-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .otherSkill{padding-top: 30px;}
}
@media screen and (max-width: 768px){
  .skills-heading hr{width: 150px;}
  .skills-heading-small hr{width:125px;}
  .skill-label p{font-size: 14px;}
}
/* skills styles end */
