.portfolio-wrapper{
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  background-color: white;
  padding-bottom: 4rem;
  padding-top: 80px;
}
.portfolio-wrapper h1{
  font-size: 2.5rem;
  font-weight: normal;
  color: #111;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-wrapper hr{
  margin-left:auto;
  margin-right: auto;
  border: 2px solid black;
  margin-top: 4px;
  width: 175px;
}
.card-wrapper h2{
  font-size: 1rem;
  font-weight: normal;
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px 0;
  border: none;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Inspired by: Nicolas Pavlotsky */
/* https://codepen.io/nicolaspavlotsky/pen/wqGgLO */
.card-wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.card-cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-col{
  width: calc(25% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-container{
	-webkit-perspective: 1000px; /*REMOVE FOR MOBILE DEVICES*/
      -moz-perspective:1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{ /*for a translucent overlay*/
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.card-container:hover .front,
.card-container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.card-container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.card-container .back .inner{
  visibility: hidden;
}
.card-container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.card-container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card-container:hover .back .inner{
  visibility: visible;
}
.card-container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);]
}

.front .inner p{
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{ /*line under the p*/
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.9);
  font-family: 'Montserrat','Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .card-col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .card-col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .card-col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
